/.cache
/dist
/node_modules

# Ignore these associated with reason-react and bsb
.merlin
npm-debug.log
.DS_Store
.bsb.lock
*.bs.js

.merlin
node_modules/
_build
_esy
_release
*.byte
*.native
*.install
esy.lock
.cache
dist
*.ast
*.cmi
*.cmj
*.cmt
*.d
web/lib/bs/

yarn.lock
